doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" type="text/css" href="css/reset.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")
		title Cabal
	body
		.client
			.client__cabals
				.switcher
					.switcher__item.switcher__item--active
						span A
					.switcher__item
						span B
					.switcher__item.switcher__item--addnew
						span +
			.client__sidebar
				.sidebar
					.sidebar__header
						.session
							.session__avatar
								.session__avatar__img
							.session__meta
								h1 Merveilles
								h2 Symbol
							.session__configuration
								img(src="img/icon-sidebarmenu.svg")
					.sidebar__section
						.collection.collection--push
							.collection__heading
								.collection__heading__title Channels
								.collection__heading__handle
									img(src="img/icon-newchannel.svg")
							.collection__item.active
								.collection__item__icon
									img(src="img/icon-channel.svg")
								.collection__item__content Development
								.collection__item__handle
							.collection__item
								.collection__item__icon
									img(src="img/icon-channel.svg")
								.collection__item__content Design
								.collection__item__handle
							.collection__item
								.collection__item__icon
									img(src="img/icon-channel.svg")
								.collection__item__content Audio/video
								.collection__item__handle
							.collection__item
								.collection__item__icon
									img(src="img/icon-channel.svg")
								.collection__item__content Lobby
								.collection__item__handle
							.collection__item
								.collection__item__icon
									img(src="img/icon-channel.svg")
								.collection__item__content Other
								.collection__item__handle
							.collection__item
								.collection__item__icon
									img(src="img/icon-channel.svg")
								.collection__item__content Random
								.collection__item__handle
							.collection__item
								.collection__item__icon
									img(src="img/icon-channel.svg")
								.collection__item__content Chit-chat
								.collection__item__handle
						.collection
							.collection__heading
								.collection__heading__title Peers
								.collection__heading__handle 
							.collection__item
								.collection__item__status
									img(src="img/icon-status-online.svg")
								.collection__item__content VillaMorai
								.collection__item__handle
							.collection__item
								.collection__item__status
									img(src="img/icon-status-online.svg")
								.collection__item__content Symbol
								.collection__item__handle
							.collection__item
								.collection__item__status
									img(src="img/icon-status-online.svg")
								.collection__item__content Cblgh
								.collection__item__handle
							.collection__item
								.collection__item__status
									img(src="img/icon-status-online.svg")
								.collection__item__content Noffle
								.collection__item__handle
							.collection__item
								.collection__item__status
									img(src="img/icon-status-online.svg")
								.collection__item__content NikolaiWarner
								.collection__item__handle
							.collection__item
								.collection__item__status
									img(src="img/icon-status-online.svg")
								.collection__item__content Karissa
								.collection__item__handle
							.collection__item
								.collection__item__status
									img(src="img/icon-status-online.svg")
								.collection__item__content Nownpl
								.collection__item__handle
							.collection__item
								.collection__item__status
									img(src="img/icon-status-online.svg")
								.collection__item__content Ypm
								.collection__item__handle
							.collection__item
								.collection__item__status
									img(src="img/icon-status-online.svg")
								.collection__item__content Vi
								.collection__item__handle
			.client__main
				.window
					.window__header
						.channel-meta
							.channel-meta__data
								.channel-meta__data__details
									h1 #Random
									h2 32 peers connected
							.channel-meta__other
								.channel-meta__other__share Share Cabal
								.channel-meta__other__more
									img(src="img/icon-channelother.svg")
					.window__main
						.messages
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Username
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Will Richman
										span 10:45 AM
									p.text They might be doing maintenance on something that isn't redundant, perhaps even _to_ make it redundant. They likely do have read only replicas and can put the site in read only mode... indeed I think they did it in the past.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Ross LeBeau
										span 10:45 AM
									p.text Damn... now I feel dumb never noticing it. Guess I just never thought to try the same as sketch.
									p.text Edited out dumb statement, didn't know how long sketch has been around.
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Aaron Pearce
										span 10:45 AM
									p.text Yeah I don’t use the storyboard often but sometimes I use it to map out my elements and then get the measurements and then program them
									p.text I use sketch for designing though
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Juan Perez
										span 10:45 AM
									p.text I use sketch for designing though
							.messages__item
								.messages__item__avatar
									.messages__item__avatar__img …
								.messages__item__metadata
									h2 Jan Ekholm
										span 10:45 AM
									p.text Can I update screenshots in App Store Connect (ASC) for an app while it’s waiting for review, or are they locked as soon as I submit?
									p.text I can’t seem to find anything in the docs. I have everything for a client app ready, but have some problems with one of the screenshots and can’t seem to get any response from the client now.
									p.text Lmao thanks anyways
					.window__footer
						.composer
							.composer__meta
								img(src="img/icon-composermeta.svg")
							.composer__input
								input(placeholder="Write a message")
							.composer__other
								img(src="img/icon-composerother.svg")